
header{

background: rgb(94,164,65);
background: linear-gradient(337deg, rgba(94,164,65,1) 2%, rgba(84,149,85,1) 47%, rgba(36,221,97,1) 100%);
font-family: 'Pompiere', cursive;
color: aliceblue;

}
.pin{
  position: relative;
 left:  15px;
 top: 10px;
 font-size: 20px;
 }
 .localizacao{
   position: relative;
 left: 100px;
 top: 3px;
 font-size: 25px;
 }
 
 .estados{
   width: 20px;
   position: relative;
  bottom: 20px;
 background-color: white;
 }
 



 .botao{
 
position: relative;
top: 10px;
left: 200px;
}

img.banner{
  display: flex;
  width: 100%;
  height: 200px;
}
 .menu{
   width: 40px;
   height: 40px;
   position: relative;
   left:1000px;
   top: 30px;
 }
  

div.container{
  display:flex;
 

}

.doce {
position: relative;
  left: 200px;
width: 150px;

height: 150px;
  padding: 5px 5px;
}
.container>.roupa{
  width: 150px;
height: 150px;
  padding: 5px 5px;
}
.comida{
  
  width: 150px;
height: 150px;
  padding: 5px 5px;
}



